<div>  
    <div class="music-player animated fadeIn" *ngIf="maximized" [ngClass]="{'fadeOut': !open}">
        <img src='{{podcast["itunes:image"][0].$.href}}' class="album" />
        <i class="timePlayer">
            <span name="current">{{ current }}</span> / <span name="duration">{{ duration }}</span>
        </i>
        <div class="dash">
            <div class="row">
                <div class="col-md-12">
                    <i id="mute" (click)="volume()" class="fa" [ngClass]="activeVolume ? 'fa-volume-up' : 'fa-volume-down'"></i>
                    <i id="play" (click)="play()" class="fa" [ngClass]="activeAudio ? 'fa-pause' : 'fa-play'"></i>
                    <i id="undo" (click)="reset()" class="fa fa-undo"></i>
                    <i href="#share" (click)="myModal2.show(); shared = podcast['itunes:episode'][0]" data-target="#myModal2" class="fa fa-share"></i>
                    <!-- <i href="#love" class="fa fa-heart"></i> -->
                </div>
            </div>
            <input type="range" value="0" min="0" max="{{audio.duration}}" class="range" [(ngModel)]="range" #ref (click)="changeTime(ref.value)">
            <div class="infoDiv">
                <label>{{ podcast["title"] }}</label>
                <div class="row">
                    <div class="col-md-12">
                        <i (click)="fadeOut()" tooltip="Minimizar" class="buttons_down fa fa-minus-circle"></i>
                        <i (click)="destroy()" tooltip="Cerrar" class="buttons_down fa fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="minimized" tooltip='Estas escuchando Animazine: {{podcast["title"]}}'  *ngIf="!maximized" [ngClass]="maximized ? 'fadeOut' : 'fadeIn'">
        <img src="assets/img/favicon.png" (click)="fadeIn()" class="album pointer rotating" />
    </div>
</div>  

<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal" id="myModal2" role="dialog" tabindex="2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button aria-hidden="true" class="close" data-dismiss="modal" (click)="myModal2.hide()" type="button" >
                    <i class="tim-icons icon-simple-remove text-white"> </i>
                </button>
                <div class="text-muted text-center ml-auto mr-auto">
                    <h3 class="mb-0">Comparte este episodio en tus redes sociales y haznos famosos</h3>
                </div>
            </div>
            <div class="modal-body">
                <div class="btn-wrapper text-center">
                    <a class="btn facebook btn-icon mr-1" target="_blank" (click)="sharedLink('facebook', shared)">
                        <img src="assets/img/facebook.svg" />
                    </a>
                    <a class="btn twitter btn-icon" (click)="sharedLink('twitter', shared)">
                        <img src="assets/img/twitter.svg" />
                    </a>
                    <a class="btn whatsapp btn-icon" (click)="sharedLink('whatsapp', shared)">
                        <img src="assets/img/whatsapp.svg" />
                    </a>
                </div>
                <div class="text-center text-muted mb-4 mt-3">
                    <h4> O copia y pega directamente el link donde desees </h4>
                    <hr>
                    <button class="btn btn-warning btn-simple" (click)="copy(shared)">Copiar</button>
                </div>
            </div>
        </div>
    </div>
</div>