<meta property="og:title" content="Example Page">
<meta property="og:image" content="assets/img/logo.png">
<meta property="og:description" content="This is just an example page.">
<meta property="og:url" content="{{baseUrl}}/listen/{{idPod}}">
<meta name="twitter:card" content="summary_large_image">
<app-nav></app-nav>
<section class="section section-lg section-coins animated fadeIn" *ngIf="loaded">
    <img src="assets/img/path3.png" class="path">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <h2 class="title">Podcast</h2>
                <h4 class="description">
                    Aquí tienes todos los podcast que hemos creado para ti.
                </h4>
            </div>
        </div>
        <app-card-podcast [items]="podcasts" [idPod]="idPod"></app-card-podcast>
    </div>
</section>
<div *ngIf="!loaded" class="loadingDiv">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
</div>
<app-cookies></app-cookies>
<app-footer *ngIf="loaded"></app-footer>