#cajacookies {
    box-shadow: 0px 0px 5px 5px #808080;
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: black;
    padding: 10px;
    position: fixed;
    top: 30%;
    width: 50%;
    left: 25%;

    .description a{
        color: #e83b3b;
    }
}

.center{
    text-align: center;
}

#cajacookies button {
    color: white;
}