<div id="cajacookies" *ngIf="!aceptedCookies">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <h3 class="title">Lamentamos mostrar esto <i class="tim-icons icon-satisfied"></i></h3>
            <h4 class="description">
                Éste sitio web usa cookies, si permanece aquí acepta su uso. Puede leer más sobre el uso de cookies en nuestra <a target="_blank" [routerLink]="['/cookies']">política de privacidad</a>.
            </h4>
        </div>
    </div>
    <div class="center">
        <button (click)="aceptarCookies()" class="btn btn-warning btn-simple">
            <i class="fa fa-times"></i> Aceptar
        </button>
    </div>
</div>