<div class="containers">
    <img src="assets/img/cine.jpeg">
    <div class="content-center brand">
        <div class="botón" (click)="animar()" [ngClass]="{'animación_boton': activeClass}">Iniciar</div>
        <section class="intro texto_intro" [ngClass]="{'animación_intro': activeClass}">
            Hace muchos megasegundos,<br> en un servidor muy,<br> muy remoto ...
        </section>
        <section class="párrafos">
            <div class="historia texto_historia" [ngClass]="{'animación_historia': activeClass}">
                <p>Un grupo de jóvenes empezaron a elaborar videotutoriales en Youtube.</p>
                <p>Al ver que estos videos tenían gran acogida, crearon una plataforma para ofrecer cursos en español de desarrollo web y móvil.</p>
                <p>Esta plataforma fue lanzada en el 2014, así nació DevCode.la</p>
                <p>Un grupo de jóvenes empezaron a elaborar videotutoriales en Youtube.</p>
                <p>Al ver que estos videos tenían gran acogida, crearon una plataforma para ofrecer cursos en español de desarrollo web y móvil.</p>
                <p>Esta plataforma fue lanzada en el 2014, así nació DevCode.la</p>
                <p>Un grupo de jóvenes empezaron a elaborar videotutoriales en Youtube.</p>
                <p>Al ver que estos videos tenían gran acogida, crearon una plataforma para ofrecer cursos en español de desarrollo web y móvil.</p>
            </div>
        </section>
        <audio #audioOption>
            <!-- <source src='assets/audio/starwar.mp3' type="audio/mp3"> -->
            <source src='https://raw.githubusercontent.com/NestorPlasencia/sound/master/starwars.mp3' type="audio/mp3">
        </audio>
    </div>
</div>