@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

.intro {
    position: absolute;
    top: 80%;
    left: 30%;
    z-index: 1;
    opacity: 0;
}

.texto_intro {
    font-family: "News Cycle", sans-serif;
    color: #4bd5ee;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .1em;
}

.historia {
    position: absolute;
    top: 80%;
}

.párrafos {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 350px;
    z-index: 1;
    transform-origin: 50%;
    transform: perspective(300px) rotateX(20deg);
}

.texto_historia {
    font-family: "News Cycle", sans-serif;
    font-weight: 700;
    color: #ff6;
    text-align: justify;
    letter-spacing: .1em;
    line-height: 1.1em;
}

.botón {
    color: white;
    width: 120px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
}

.animación_intro {
    animation: intro 5s ease-out 0s;
}

.animación_historia {
    animation: parrafos 50s linear 5s;
}

.animación_boton {
    animation: boton 50s ease-out 5s;
}

p{
    color: #FFDE06;
    margin-top: 2%;
    font-size: 15px;
}
@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes boton {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes parrafos {
    0% {
        top: 75%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: -10%;
        opacity: 0;
    }
}