<footer class="footer" #footer >
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title">
                    <a class="nav-link" [routerLink]="['/home']">
                        <img src="assets/img/logo.jpeg" alt="Logo" width="100" srcset="">
                    </a>
                </h1>
            </div>
            <div class="col-md-3">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']"> Inicio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/listen']">Escuchanos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/blogs']">Blog</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/us']">Acerca de nosotros</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3 class="title">Siguenos en:</h3>
                <div class="btn-wrapper profile">
                    <a (mouseover)="changeBg(1)" (mouseout)="changeBg(5)" class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/Animazine1?s=09" target="_blank" >
                        <i class="fab fa-twitter"> </i>
                    </a>
                    <a (mouseover)="changeBg(2)" (mouseout)="changeBg(5)" class="btn btn-icon btn-neutral btn-round btn-simple" href="https://www.instagram.com/animazine/" target="_blank" >
                        <i class="fab fa-instagram"> </i>
                    </a>
                    <a (mouseover)="changeBg(3)" (mouseout)="changeBg(5)" class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/animazine" target="_blank" >
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                    <a (mouseover)="changeBg(4)" (mouseout)="changeBg(5)" class="btn btn-icon btn-neutral btn-round btn-simple" href="https://www.youtube.com/channel/UCBse9DFag4a0pcVfqoNCvsw" target="_blank" >
                        <i class="fab fa-youtube"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>