.facebook_bg {
  background: #3b5998;
}
.twitter_bg {
  background: #00acee;
}
.instagram_bg {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.youtube_bg {
  background: #c4302b;
}

.default_bg {
  background: radial-gradient(ellipse at bottom, #292d61 30%, #171941 80%);
}
