<div id="images" class='center'> 
    <i class="tim-icons icon-minimal-down" style="color:#e83b3b;" width="6" height="6"></i>
    <div class="perfiles">
      <div class="col-sm-3 col-6">
        <small class="d-block text-uppercase font-weight-bold mb-4"></small>
        <a [routerLink]="['/us']">
            <img
            alt="Raised circle image"
            class="img-fluid rounded-circle shadow-lg"
            src="assets/img/team.jpg"
            style="width: 400px;"
            />
        </a>    
      </div>
    </div>
  </div>