<app-nav></app-nav>
<section class="section section-lg section-coins animated fadeIn" *ngIf="loaded">
    <img src="assets/img/path3.png" class="path">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <h2 class="title">{{blog.title}}</h2>
                <h4 class="description">
                    {{blog.category}}
                </h4>
            </div>
        </div>
        <div class="container animated fadeIn">
            <div class="row">
                <div class="col-md-10 ml-auto col-xl-8 mr-auto">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div [innerHTML]="blog.description"></div>
                                </div>
                                <div class="col-md-4 col-lg-4 right">
                                    <img class="img-blog" src="{{blog.image}}" alt="{{blog.title}}" srcset="">
                                </div>
                            </div>
                        </div>
                        <hr class="line-info line-blog">
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div><i class="fa fa-user"> </i>  {{blog.autor}}</div>
                                    <div><i class="fa fa-calendar"> </i>  {{blog.date}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>
<app-cookies></app-cookies>
<app-footer *ngIf="loaded"></app-footer>