<div>
    <div class="icons-container blur-item on-screen mt-5">
        <i class="icon tim-icons" tooltip="Youtube">
            <a href="https://www.youtube.com/channel/UCBse9DFag4a0pcVfqoNCvsw" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/youtube.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Anchor"> 
            <a href="https://anchor.fm/animazine" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/anchor.jpeg" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="The Podcast App"> 
            <a href="https://podcast.app/animazine-p761479/?utm_source=and&utm_medium=share" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/podcastapp.png" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="Spreaker"> 
            <a href="https://www.spreaker.com/show/animazines-show" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/spreaker.jpeg" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Deezer"> 
            <a href="https://www.deezer.com/es/show/470492" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/deezer.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Google Podcast"> 
            <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9jMDRlNzFjL3BvZGNhc3QvcnNz" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/google.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Tune In"> 
            <a href="http://tun.in/pjwB0" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/tunein.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Apple Podcast"> 
            <a href="https://podcasts.apple.com/co/podcast/animazine/id1472573036?l=en" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/apple.png" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="Radio Public"> 
            <a href="https://radiopublic.com/animazine-6vZ3nQ" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/radio.jpeg" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="Blubrry"> 
            <a href="https://blubrry.com/animazine/" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/blubrry.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Breaker"> 
            <a href="https://www.breaker.audio/animazine" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/breaker.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Bullhorn"> 
            <a href="https://www.bullhorn.fm/animazine" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/bullhorn.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Castbox"> 
            <a href="https://castbox.fm/channel/Animazine-id2203930" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/castbox.jpeg" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="Himalaya"> 
            <a href="http://m.himalaya.com/tv-film-podcasts/animazine-1191399" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/himalaya.png" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="Listen Notes"> 
            <a href="https://lnns.co/aUci42yqWFM" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/listen.png" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="OwlTail"> 
            <a href="https://www.owltail.com/podcast/bPchV-Animazine" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/owltail.png" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="Player Fm"> 
            <a href="https://es.player.fm/series/animazine" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/playerfm.jpg" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Emisora zonaretro Sábados 6pm"> 
            <a href="http://www.zonaretro.com.co/" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/zonaretro.png" />
            </a>
        </i>
        <i class="icon tim-icons" tooltip="Spotify"> 
            <a href="https://open.spotify.com/show/7wYrrhNoKvOwE1qSazBdET" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/spotify.png" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="Pocket Podcast"> 
            <a href="https://pca.st/tbnxm77t" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/pocket.png" />
            </a>
        </i>
        <i class="icon icon-sm tim-icons" tooltip="PodChaser"> 
            <a href="https://www.podchaser.com/podcasts/animazine-892825" target="_blank" class="zoom" rel="noopener noreferrer">
                <img class="img-fluid rounded-circle shadow" src="assets/img/plataforms/podchaser.jpg" />
            </a>
        </i>
    </div>
</div>