
.center{
    text-align: center;
}
.z-index{
    z-index: 20;
}
.botón {
    color: white;
    width: 120px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
}

.loadingDiv{
    margin-top: 20%;
}
.spinner_index {
  margin: 100px auto;
  width: 150px;
  height: 140px;
  text-align: center;
  font-size: 10px;

    > div {
    background-color: #ff6600;
    height: 100%;
    width: 16px;
    display: inline-block;
    margin-left: 10px;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
    }

    .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    }

     .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
    }

    .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    }

    @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
    }
}