<app-nav></app-nav>
<div *ngIf="!loaded" class="loadingDiv">
  <div class="spinner_index">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<div class="wrapper animated fadeIn"  *ngIf="loaded">
  <div class="main">
    <section class="section section-lg section-coins">
      <img src="assets/img/path3.png" class="path">
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <h2 class="title">Podcast</h2>
                <h4 class="description">
                  Escucha nuestros podcast más recientes y continua luego con los demás que tenemos para ti.
                </h4>
            </div>
        </div>
        <app-card-podcast [items]="podcasts" *ngIf="loaded"></app-card-podcast>
        <div class="content-center brand center z-index">
          <a [routerLink]="['/listen']" class="botón btn">Ver todos</a>
        </div>
      </div>
    </section>
    <section class="section section-nucleo-icons">
      <img class="path" src="assets/img/path3.png" />
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-md-12">
                  <h2 class="title">¿Dónde escucharnos?</h2>
                  <h4 class="description">
                      Animazine cuenta con varias plataformas para que puedas escuchar todos nuestros podcast sin ningún problema
                  </h4>
              </div>
          </div>
          <app-plataforms></app-plataforms>
      </div>
    </section>
    <section class="section section-tabs">
      <img class="path" src="assets/img/path3.png" />
      <div class="page-header">
        <div class="container align-items-center">
          <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
              <h1>Quienes Somos</h1>
              <p class="profile-description">
                Animazine más que un proyecto, es una familia que se ha constituido poco a poco con gran esfuerzo de todos sus miembros, poniendo a prueba conocimientos culturales y mediáticos que poseemos. 
                Nacimos en junio del 2019 bajo la tendencia del mundo Marvel y la creciente de medios discursivos en las redes, tales como podcats, video reacciones, resúmenes, etc. 
                Como iniciativa alternativa para hablar de cine y anime, además de coyunturas actuales, desde una perspectiva diferente y menos estilizada de lo que estos movimientos artísticos y culturales nos ofrecen. 
                Ahora bien, creemos que los espacios virtuales desarrollan una infinidad de campos e intereses, manteniendo así un flujo constante de información que nos permite estar conectados las 24 horas y desde esta perspectiva, Animazine ha figurado poco a poco un espacio entre tantos elementos digitales habidos y por haber, siempre en la constante reflexión e innovación que exige la comunidad digital y de cinéfilos. 

              </p>
            </div>
            <div class="col-lg-6">
                <a>
                  <img
                  alt="Team"
                  class="img-fluid shadow-lg"
                  src="assets/img/team.jpeg"
                  style="width: 1000px;margin-top:10%"
                  />
                </a>
            </div>
          </div>
        </div>
        <app-profile></app-profile>
      </div> 
    </section>
    <!-- <section class="section section-javascript">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
            <h2 class="title">Blog</h2>
            <h4 class="description">
              Aquí puedes leer esas cositas de las que no hablamos en nuestros podcast
            </h4>
        </div>
      </div>
      <app-card-blog [blogs]="blogs"></app-card-blog>
      <div class="content-center brand center z-index">
        <a [routerLink]="['/blogs']" class="botón btn">Ver todos</a>
      </div>
    </section> -->
  </div>
  <app-cookies></app-cookies>
  <app-footer></app-footer>
</div>
