<app-nav></app-nav>
<div *ngIf="!loaded" class="loadingDiv">
  <div class="spinner">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>

<section class="section section-lg section-coins animated fadeIn" *ngIf="loaded">
  <img src="assets/img/path3.png" class="path">
  <div class="page-header">
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <h1>Quienes Somos</h1>
          <p class="profile-description">
            Animazine más que un proyecto, es una familia que se ha constituido poco a poco con gran esfuerzo de todos sus miembros, poniendo a prueba conocimientos culturales y mediáticos que poseemos. 
            Nacimos en junio del 2019 bajo la tendencia del mundo Marvel y la creciente de medios discursivos en las redes, tales como podcats, video reacciones, resúmenes, etc. 
            Como iniciativa alternativa para hablar de cine y anime, además de coyunturas actuales, desde una perspectiva diferente y menos estilizada de lo que estos movimientos artísticos y culturales nos ofrecen. 
            Ahora bien, creemos que los espacios virtuales desarrollan una infinidad de campos e intereses, manteniendo así un flujo constante de información que nos permite estar conectados las 24 horas y desde esta perspectiva, Animazine ha figurado poco a poco un espacio entre tantos elementos digitales habidos y por haber, siempre en la constante reflexión e innovación que exige la comunidad digital y de cinéfilos. 

          </p>
        </div>
        <div class="col-lg-6">
            <a>
              <img
              alt="Team"
              class="img-fluid shadow-lg"
              src="assets/img/team.jpeg"
              style="width: 1000px;margin-top:10%"
              />
            </a>
        </div>
      </div>
    </div>
  </div> 
    <app-profile></app-profile>
</section>
<app-cookies></app-cookies>
<app-footer *ngIf="loaded"></app-footer>

