.card.card-coin img {
    position: relative;
    width: 150px !important;
    height: 150px !important;
    opacity: 1;
}

.card.card-coin .card-header {
    margin: -100px auto 20px;
    padding: 15px 15px 0;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
}

.center{
    text-align: center;
}