<app-nav></app-nav>
<div class="wrapper" *ngIf="loaded">
    <div class="page-header">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h1 class="profile-title text-left">{{MyProfile.name}}</h1>
                    <h1 class="text-on-back">{{MyProfile.id}}</h1>
                    <p class="profile-description" [innerHTML]="MyProfile.description"></p>
                    <div class="btn-wrapper profile pt-3">
                        <a class="btn btn-icon btn-facebook btn-round mr-1" href="{{MyProfile.social[0]}}" target="_blank">
                            <i class="fab fa-facebook-square"> </i>
                        </a>
                        <a class="btn btn-icon btn-dribbble btn-round" href="{{MyProfile.social[1]}}" target="_blank">
                            <i class="fab fa-instagram"> </i>
                        </a>
                        <a class="btn btn-icon btn-twitter btn-round mr-1" href="{{MyProfile.social[2]}}" target="_blank">
                            <i class="fab fa-twitter"> </i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="shadow-lg img-center img-fluid rounded-circle img-profile" src="{{MyProfile.image}}" alt="{{MyProfile.name}}" />
                            <h4 class="title">Tops Personales</h4>
                        </div>
                        <div class="card-body">
                            <tabset class="nav-tabs-danger justify-content-center tab-subcategories" >
                                <tab heading="animé">
                                    <div class="table-responsive">
                                        <table class="table tablesorter" id="plain-table">
                                            <thead class="text-danger">
                                                <tr>
                                                    <th class="header" class="center">Top 3</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">{{MyProfile.anime[0]}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">{{MyProfile.anime[1]}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">{{MyProfile.anime[2]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>                               
                                <tab heading="series">
                                    <div class="table-responsive">
                                        <table class="table tablesorter" id="plain-table">
                                            <thead class="text-danger">
                                                <tr>
                                                    <th class="header" class="center">Top 3</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">{{MyProfile.series[0]}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">{{MyProfile.series[1]}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">{{MyProfile.series[2]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>
                                <tab heading="Películas">
                                    <div class="table-responsive">
                                        <table class="table tablesorter" id="plain-table">
                                            <thead class="text-danger">
                                                <tr>
                                                    <th class="header" class="center">Top 3</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">{{MyProfile.films[0]}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">{{MyProfile.films[1]}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">{{MyProfile.films[2]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </tab>    
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
