.card-title{
    font-size: 1.1em;
}
.pcard{
    z-index: 2;
    margin: 0 5%;
}

.content-center {
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
}

.activePod{
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

@media (max-width: 768px) {
    .content-center {
        top: 97%;
    }
}