<div class="row animated fadeIn">
    <app-player *ngIf="loading" (messageEvent)="receiveMessage($event)" [podcast]="podcast"></app-player>
    <div class="col-md-4" [ngClass]="{'rotateOne': idPod === podcast['itunes:episode'][0]}" *ngFor="let podcast of (items)" id='{{podcast["itunes:episode"]}}'>
        <div class="card card-coin card-plain">
            <img src="{{getImageSeason(podcast['itunes:season'])}}">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="text-uppercase card-title">{{ podcast.title }} {{idPod}}</h4>
                        <h6>Temporada {{podcast["itunes:season"]}}</h6>
                        <hr class="line-{{podcast.color}}">
                    </div>
                </div>
                <div class="row">
                    <p class="pcard" [innerHTML]="podcast.description[0] | slice:0:120"></p>
                </div>
            </div>
            <div class="card-footer text-center">
                <!-- <div><i class="fa fa-thumbs-up text-{{podcast.color}}"></i></div> -->
                <button class="btn btn-{{podcast.color}} btn-simple" (click)="listening(podcast)">
                    Escuchar
                </button>
            </div>
        </div>
    </div>
</div>