.line-blog{
    margin: 0px;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

@media (max-width: 768px) {
    .img-blog{
        width: 150px;
    }
    .right{
        text-align: center;
    }
}
