<div class="container animated fadeIn">
    <div class="row center">
        <div class="col-md-3">
            <button class="btn btn-primary btn-simple" (click)="filter = ''">Todo</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-simple" (click)="filter = 'anime'">Animé</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-simple" (click)="filter = 'Películas'">Peliculas</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary btn-simple" (click)="filter = 'Series'">Series</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 ml-auto col-xl-6 mr-auto {{blog.category}}"  *ngFor="let blog of filterFunction(blogs)">
            <div class="card">
                <div class="card-header">
                    <div><i class="tim-icons icon-spaceship"> </i> {{blog.title}}</div>
                    <div><i class="fa fa-tag"> </i>  {{blog.category}}</div>
                </div>
                <hr class="line-warning line-blog">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 col-lg-8">
                            <div [innerHTML]="blog.description | slice:0:200"></div>
                        </div>
                        <div class="col-md-4 col-lg-4 right">
                            <img class="img-blog" width="120" src="{{blog.image}}" alt="{{blog.title}}" srcset="">
                        </div>
                    </div>
                </div>
                <hr class="line-info line-blog">
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div><i class="fa fa-user"> </i>  {{blog.autor}}</div>
                            <div><i class="fa fa-calendar"> </i>  {{blog.date}}</div>
                            <div><i class="fa fa-star"> </i>  {{blog.star}}</div>
                        </div>
                        <div class="col-md-6 col-lg-6 right">
                            <a class="btn btn-warning btn-simple" (click)="viewBlog(blog)">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
