<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" tooltip="Podcast de cine, animé y tv">
                <span> <img class="logo_init img-fluid shadow" src="assets/img/logo.jpeg" alt="logo" srcset=""></span>
            </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
                <span class="navbar-toggler-bar bar1"> </span>
                <span class="navbar-toggler-bar bar2"> </span>
                <span class="navbar-toggler-bar bar3"> </span>
            </button>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation" >
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a><img class="logo_init img-fluid shadow" src="assets/img/logo.jpeg" alt="logo" srcset=""></a>
                    </div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler" [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button" >
                            <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://twitter.com/Animazine1" placement="bottom" target="_blank" tooltip="Siguenos en Twitter">
                        <i class="fab fa-twitter"> </i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.facebook.com/animazine" placement="bottom" target="_blank" tooltip="Like en Facebook">
                        <i class="fab fa-facebook-square"> </i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.instagram.com/animazine/" placement="bottom" target="_blank" tooltip="Siguenos en Instagram">
                        <i class="fab fa-instagram"> </i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.youtube.com/channel/UCBse9DFag4a0pcVfqoNCvsw" placement="bottom" target="_blank" tooltip="Visita nuestro canal">
                        <i class="fab fa-youtube"> </i>
                        <p class="d-lg-none d-xl-none">Youtube</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" placement="bottom" tooltip="Escuchanos" [routerLink]="['/listen']">
                        <i class="tim-icons icon-volume-98"> </i>
                        <p class="d-lg-none d-xl-none">Escuchanos</p>
                    </a>
                </li>
                <!-- <li class="nav-item p-0">
                    <a class="nav-link" placement="bottom" tooltip="Nuestro Blog" [routerLink]="['/blogs']">
                        <i class="tim-icons icon-paper"> </i>
                        <p class="d-lg-none d-xl-none">Blog</p>
                    </a>
                </li> -->
                <li class="nav-item p-0">
                    <a class="nav-link" placement="bottom" tooltip="Sobre Nosotros" [routerLink]="['/us']">
                        <i class="tim-icons icon-user-run"> </i>
                        <p class="d-lg-none d-xl-none">Nosotros</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>