<div id="message">
    <div class="container">
        <div class="text">
            <h2>Advertencia</h2>
            <img src="assets/img/advertencia.png" alt="">
            <p>No somos políticamente correctos, en nuestros podcast vamos a hablar de todo y todos con humor negro y sin ninguna distinción...  Quedan advertidos</p>
            <div class="button" [routerLink]="['/home']">Ingresar</div>
        </div>
    </div>
    <div class="bg"></div>
</div>