#message{ 
    height: 100%; 
    left: 0;
    top: 0; 
    width: 100%; 
}
#message .container{ 
    height: 60%; 
    left: 50%; position: absolute; 
    top: 50%; 
    z-index: 10; 
    width: 60%; 
}
#message .container .text{ 
    height: 100%; 
    left: -50%; 
    position: absolute; 
    top: -50%; 
    width: 100%; 
    text-align: center;
}
#message .container .text h2{ 
    margin: 0px;
    color: red;
}
#message .container .text p{ 
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#message .container .text .button{ 
    margin-top: 5%;
    color: white;
    width: 120px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
}
