<div class="col-lg-4 col-md-6 ml-auto mr-auto">
  <div class="perfiles">
    <div class="col-sm-3 col-md-6 text-center">
      <i class="tim-icons icon-minimal-down" style="color:#e83b3b;" width="6" height="6"></i>
      <small class="d-block text-uppercase font-weight-bold mb-4">
              Angélica
      </small>
        <a [routerLink]="['/profile','angelica']">
          <img alt="Angelica" class="img-fluid rounded-circle shadow-lg img-profile" src="assets/img/angelica.png"  />
        </a>
    </div>
    <div class="col-sm-3 col-md-6 text-center">
      <i class="tim-icons icon-minimal-down" style="color:#e83b3b;" width="6" height="6"></i>
      <small class="d-block text-uppercase font-weight-bold mb-4">
                Jaime
      </small>
        <a [routerLink]="['/profile','jaime']">
          <img alt="Jaime" class="img-fluid rounded-circle shadow-lg img-profile" src="assets/img/jaime.png"  />
        </a>
    </div>
    <div class="col-sm-3 col-md-6 text-center">
      <i class="tim-icons icon-minimal-down" style="color:#e83b3b;" width="6" height="6"></i>
      <small class="d-block text-uppercase font-weight-bold mb-4">
        Kratos
      </small>
        <a [routerLink]="['/profile','kratos']">
          <img alt="Kratos" class="img-fluid rounded-circle shadow-lg img-profile" src="assets/img/kratos.png"  />
      </a>    
    </div>
    <div class="col-sm-3 col-md-6 text-center">
      <i class="tim-icons icon-minimal-down" style="color:#e83b3b;" width="6" height="6"></i>
      <small class="d-block text-uppercase font-weight-bold mb-4">
        Mechas
      </small>
        <a [routerLink]="['/profile','mechudo']">
          <img alt="Mechudo" class="img-fluid rounded-circle shadow-lg img-profile" src="assets/img/mechudo.png"  />
        </a>    
    </div>
    <div class="col-sm-3 col-md-6 text-center">
      <i class="tim-icons icon-minimal-down" style="color:#e83b3b;" width="6" height="6"></i>
      <small class="d-block text-uppercase font-weight-bold mb-4">
        Hanzo
      </small>
        <a [routerLink]="['/profile','hanzo']">
          <img alt="Hanzo" class="img-fluid rounded-circle shadow-lg img-profile" src="assets/img/mao.png"  />
        </a>    
    </div>
  </div>
</div>