<app-nav></app-nav>
<section class="section section-lg section-coins animated fadeIn" *ngIf="loaded">
    <img src="assets/img/path3.png" class="path">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <h2 class="title">Blog</h2>
                <h4 class="description">
                    Leenos y quierenos
                </h4>
            </div>
        </div>
        <app-card-blog [blogs]="blogs"></app-card-blog>
    </div>
</section>
<app-cookies></app-cookies>
<app-footer *ngIf="loaded"></app-footer>